table {
    text-align: center !important;
    width: 50px !important;
}
input[type=text] {
    color: white;
    background-color: #32383e;
    width: 100%;
}
.bg-secondary {
    background-color: #1c2024 !important;
}
@media screen and (max-width: 600px) {
    table {
        text-align: center !important;
        width: 100% !important;
    }
}